*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 55px;
}
.text-box p{
    margin: 10px 0px 40px;
    font-size: 15px;

}
.btn-link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 12px;
    background: transparent;
    position: relative;
}
.btn-link:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.5s;
}
.about-me{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
   
}
.main img{
    height: auto;
    width: 250px;
    margin-top: 50px;
}
.main p{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #000033;
    color: #fff;
    margin-top: 100px;
}
.footer h4{
   
    font-weight: 500;
    color: #fff;
}
.icons .fa{
    color: white ;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
  
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.skills{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 25px;
    font-weight: 500;
}

p{
    font-size: 15px;
    font-weight: 200;
    line-height: 20px;
    padding: 10px;
}
.skills-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.skills-col img{
    width: 100%;
    border-radius: 10px;
}
.skills-col p{
    padding: 0;
}
.skills-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
button{
    background-color: #fff;
    border-color: #a0a0a0;
    border-radius: 6px;
}
.btn-details{
    width: 80px;
    margin-top: 10px;
}
.blog{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
.blog-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;

}

.blog-col h3{
    font-weight: 15px;
    text-align: center;
}
